@model BTL_MVC.Models.ImportBillDetail

@{
    ViewBag.Title = "Xóa chi tiết hóa đơn nhập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h3>Bạn có muốn xóa chi tiết hóa đơn nhập này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImportBill.ImportBillId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImportBill.ImportBillId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-success fa fa-trash"> xóa</button>
            @Html.ActionLink(" Quay lại", "Index", null, new { @class = "btn btn-warning fa fa-close" })
        </div>
    }
</div>
